<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" / >
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/png" href="../static/img/asset-15.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>PedroCod</title>
  </head>

  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/Perfil.png" alt="Foto do Pedro" />
        <h1>Pedro Henrique</h1>
        <div class="social-links mt-4 text-center">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/pedro-henrique-soares-da-luz-40b18b21a/"
          >
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/PedroCod">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://www.instagram.com/ofc_henriquecps/">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio"
              ><i class="bi bi-house" aria-hidden="true"></i> Inicio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre"
              ><i class="bi bi-person" aria-hidden="true"></i> Sobre</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades"
              ><i class="bi bi-list-check" aria-hidden="true"></i>
              Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo"
              ><i class="bi bi-file-earmark" aria-hidden="true"></i>
              Currículo</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio"
              ><i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato"
              ><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a
            >
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="
            col-md-5
            d-flex
            justify-content-center
            align-items-center
            flex-column
          "
        >
          <h2 class="text-white text-shadow">Pedro henrique</h2>
          <span id="subtitle" class="text-white text-shadow"
            >Aprendiz Dev, Cursando Full stack</span
          >
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre">Arrate para mais</a>
          </div>
        </div>
      </section>
      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre</h2>
            <p>
              Sou um cara bem extrovertido, que aos 10 anos de idade descobriu o
              amor por programação, aos 20 decidi dar inicio a minha carreira
              dev, procurei instituições de ensino até que eu encontrei a BLUE,
              uma instituição de ensino maravilhosa, que conta com otimos
              profissionais na area da educação, todos muito dispostos a
              compartilhar os respectivos conhecimentos com os alunos, acabei de
              dar inicio ao terceiro modulo, na parte de full stack, sou um bom
              aluno, ganhando aluno destaque em todos os projetos e nos dois
              respectivos modulos que ocorreu até o momento.
            </p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-4">
            <img
              class="img-fluid shadow"
              src="../static/img/Perfil.png"
              alt="Foto do pedro"
              data-anime="left"
            />
          </div>
          <div class="col-md-8" data-anime="right">
            <h3>Aprendiz Dev</h3>
            <p>
              Atualmente estudando sobre a area full stack, trabalhando com a
              linguagem de JavaScript, mexendo com bancos SQL e usando mini
              frameworks
            </p>
            <div class="row mt-3 mb-3">
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Aniversario:
                    <span class="fw-lighter">15 de março de 2001</span>
                  </li>
                  <li class="list-group-item">
                    Idade: <span class="fw-lighter">20 anos</span>
                  </li>
                  <li class="list-group-item">
                    Cidade: <span class="fw-lighter">Campinas</span>
                  </li>
                  <li class="list-group-item">
                    Estado: <span class="fw-lighter">São Paulo</span>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list-group list-group-flush fs-5">
                  <li class="list-group-item">
                    Hobby: <span class="fw-lighter">Jogar Video-Games</span>
                  </li>
                  <li class="list-group-item">
                    Certificados:
                    <a
                      href="https://drive.google.com/drive/u/0/folders/1cJ9ifCGHDn8FNOiEuGvj6hudpj8hQqlm"
                      target="_blank"
                      class="fw-lighter text-decoration-none link-dark"
                      >Certificados</a
                    >
                  </li>
                  <li class="list-group-item">
                    Trabalho:
                    <span class="fw-lighter"
                      >Atualmente trabalho como repositor em um mercado!</span
                    >
                  </li>
                  <li class="list-group-item">
                    Experiência:
                    <span class="fw-lighter">
                      Nenhuma experiência: Dev Junior
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <p>
              Além de estar cursando sobre pogramação Full Stack sou uma pessoa
              que pega rapido os conteudos, tenho facilidade para aprender sobre
              essa area, minha maior conquista atualmente e estar conseguindo
              aprender e a explicar os conteudos passados em aula para alguns
              colegas que não conseguiram pegar o conteudo da maneira que
              gostariam, sou bem versatil, gosto tanto do back quanto do front,
              minha especialidade e mexer com o back amo mexer com rotas, banco
              de dados, e agora com as famosas API'S.
            </p>
          </div>
        </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Ao longo do curso fui descobrindo algumas habilidades tecnicas
            algumas delas estão aqui, de acordo com a porcentagem de
            conhecimento que eu acredito ter em cada uma delas.
          </p>
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Html</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 75%"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  75%
                </div>
              </div>
              <p class="mt-3 mb-0">ReactJS</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 75%"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  75%
                </div>
              </div>
              <p class="mt-3 mb-0">Css</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  60%
                </div>
              </div>
              <p class="mt-3 mb-0">JavaScript</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  80%
                </div>
              </div>
              <p class="mt-3 mb-0">Python</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 45%"
                  aria-valuenow="45"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  45%
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">NodeJS</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  80%
                </div>
              </div>
              <p class="mt-3 mb-0">NestJS</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 75%"
                  aria-valuenow="75"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  75%
                </div>
              </div>
              <p class="mt-3 mb-0">Flask</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 30%"
                  aria-valuenow="30"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  30%
                </div>
              </div>
              <p class="mt-3 mb-0">SQL</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  60%
                </div>
              </div>
              <p class="mt-3 mb-0">EXPRESS</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  70%
                </div>
              </div>
            </div>
          </div>
          <hr class="w-50 me-auto ms-auto" />
          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">Proatividade</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 70%"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  70%
                </div>
              </div>

              <p class="mt-3 mb-0">Orientação a detalhes</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  80%
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">Comunicação</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  80%
                </div>
              </div>

              <p class="mt-3 mb-0">Empatia</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  80%
                </div>
              </div>

              <p class="mt-3 mb-0">Comprometimento</p>
              <div class="progress">
                <div
                  class="progress-bar"
                  data-anime="left"
                  role="progressbar"
                  style="width: 90%"
                  aria-valuenow="90"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  90%
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 cv" id="curriculo">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Curriculo</h2>

          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>
              <div class="cv-item" data-anime="up">
                <h4>Montagem e Manutenção.</h4>
                <h5>2015-2015</h5>
                <p><em>instituição Jari</em></p>
                <p>
                  Montagem e manutenção de hardwares e computadores, Abria mexia
                  em todas as partes dos computadores, testava memorias, fortes,
                  placas e hd's Com carga horaria de 300 Horas
                </p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4>Curso de Ingles</h4>
                <h5>2016-2017</h5>
                <p><em>Cultura Inglesa</em></p>
                <p>
                  Curso de linguagem com especialidade na lingua Inglesa, Dando
                  prioridade para a linguagem britanica, com um foco total na
                  comuniaçao inglesa, colocando em pratica tudo que foi visto
                  durante o periodo do curso Com uma Carga horaria de 1.440
                  Horas
                </p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Programação</h4>
                <h5>2021-2022</h5>
                <p><em>Blue EdTech</em></p>
                <p>
                  Curso de programação voltado a parte de fullStack, Vendo sobre
                  full e Back end, banco de dados e as famosas Api's, a
                  organização conta com uma otima equipe de professores, e com
                  um conjunto excelente de conteudos a serem passados
                </p>
              </div>
            </div>

            <div class="col-md-6">
              <h3 class="cv-title">Profissional</h3>
              <div class="cv-item" data-anime="up">
                <h4>Almoxerife</h4>
                <h5>2021-2022</h5>
                <p><em>Mercado Itajara</em></p>
                <p>Responsavel por organização de almoxerife, tendo toda a responsabilidade de repor produtos e organizar a loja. </p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4></h4>
                <h5></h5>
                <p><em></em></p>
                <p></p>
              </div>

              <div class="cv-item" data-anime="up">
                <h4></h4>
                <h5></h5>
                <p><em></em></p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-bg mt-5" id="portfolio">
        <div class="container pb-5 pt-5" data-anime="left">
          <h2 class="pb-4">Portfólio</h2>

          <div
            id="carouselPortfolio"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators"></div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/Transformacao.PNG"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Jogo da Transformacão</h5>
                        <p class="card-text">
                          Um projeto criado a partir de HTML, CSS E JS puros, um
                          projeto simples com um botão que muda uma imagem e um
                          texto na tela.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://pedrocod.github.io/jogo-das-transformacoes.github.io/"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/pokedex.png"
                        class="card-img-top"
                        alt="..."
                      />
                      <div class="card-body">
                        <h5 class="card-title">Pokedex</h5>
                        <p class="card-text">
                          Um Projeto criado a partir de um framework chamado
                          EXPRESS, usando ele no seu modo MVC, utilizando o EJS
                          para fazer a renderização, e realizando o cadastro dos
                          pokemons inseridos na pagina de cadastro, tendo tbm
                          uma pagina de detalhes que informa de forma mais
                          detalhada os pokemons
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://national-pokedex-projeto.herokuapp.com"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/Catalogo.PNG"
                        class="card-img-top"
                        alt="Catalogo de jogos"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Catalago de Games</h5>
                        <p class="card-text">
                          Projeto criado utilizado um framework chamado EXPRESS,
                          usando ele no seu modo MVC, fazendo utlização do EJS
                          para renderização dos HTMLS, foi um projeto criado
                          utilizando banco de dados com CRUD, uma pagina de
                          cadastro, uma de editar, uma para detalhes e um botão
                          de deletar caso se canse de deixar o jogo la.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://crud-jogos-db-m02-007.herokuapp.com"
                            target="_blank"
                            class="btn btn-outline-primary"
                            ><i class="bi bi-link-45deg"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="pt-5 pb-5" id="contato">
        <div class="container mb-5">
          <h2 class="pt-3 pb-3">Contato</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="up">
                <div class="endereço">
                  <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                  <p>Campinas, São Paulo</p>
                </div>

                <div class="email">
                  <h4><i class="bi bi-envelope"></i> Email:</h4>
                  <p>contato.pedrossoares@gmail.com</p>
                </div>

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.0226177273034!2d-47.11365429796421!3d-22.94939413014198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c9b3f5454ceb%3A0xf88173f5947dcf56!2sR.%20Dr.%20L%C3%A1zaro%20Silva%2C%20199-109%20-%20Jardim%20Yeda%2C%20Campinas%20-%20SP%2C%2013060-621!5e0!3m2!1spt-BR!2sbr!4v1635999661851!5m2!1spt-BR!2sbr"
                  width="400"
                  height="300"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  class="w-100"
                ></iframe>
              </div>
            </div>

            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="nome"
                      placeholder="Digite seu nome"
                      required
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="Digite seu email"
                      required
                    />
                  </div>

                  <div class="col-12">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea
                      type="text"
                      class="form-control"
                      id="mensagem"
                      name="mensagem"
                      rows="10"
                      placeholder="Digite sua mensagem"
                      required
                    ></textarea>
                  </div>

                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button
                      id="btn-enviar"
                      type="submit"
                      class="btn btn-primary"
                    >
                      Enviar mensagem
                    </button>

                    <button
                      id="btn-enviar-loader"
                      class="btn btn-primary"
                      type="button"
                      disabled
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Enviando...
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div
        id="alerta"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </main>
    <footer id="footer">
      <div class="container">
        <div class="text-center">
          &copy; Copyright <strong>PedroCod</strong>
        </div>
      </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>